.loader {
    color: #0ec9ae;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    text-align: center;
    opacity: 0.8;
}

.loader span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}