.btn {
    background-color: #0ec9ae;
    border-radius: 20px;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-outline {
    background: none !important;
    color: #000;
    text-decoration: underline;
}