.item__employee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.item__employee:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
}

.item__employee--profile {
    display: flex;
    align-items: center;
}

.item__employee--img {
    width: 23%
}

.item__employee--data {
    margin-left: 1rem;
}

.subtitle {
    color: #c7c8d0
}

.title {
    font-weight: bold;
}

.mt-15 {
    margin-top: 15px;
}