.item_area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.item_area--icon {
    width: 8%
}

.item_area--label {
    font-weight: bold;
    margin-left: 1rem;

}