.hero__info {
  display: flex;
  justify-content: space-between
}

.hero,
.main {
  padding: 10px 40px
}

.main {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 2%;
}

.main__sidebar {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px
}

.main__employees {}